{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>결재자 지정</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="https://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'popup/style.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        body {font-family: 'Jeju Gothic', sans-serif;}
    </style>
</head>
<body>
<table class="maintable">
    <tr>
    <td class="pull-right" id="header">
        <p class="inline">반드시 <strong>저장</strong>을 하십시오!</p>
        <button type="button" class="btn btn-info" onclick="doTheSubmit()">저장</button><span> </span>
        <button type="button" class="btn btn-default" onclick="window.open('', '_self', ''); window.close();">취소</button>
    </td>
    </tr>
    <tr>
    <td id="title"><h4>결재자 지정</h4></td>
    </tr>
    <tr>
    <td id="search">
        <form id="searchform" method="get" accept-charset="utf-8">
            <label>이름으로 검색 : </label>
            <input id="searchfield" type="text" placeholder="Search" width="400px" autofocus="" />
            <button class="searchbutton" type="button">
                <i class="fa fa-search"></i>
            </button>
            <input type="text" style="width 0px; visibility: hidden;">
        </form>
    </td>
    </tr>
    <tr>
    	<td><div id="result" style="width:100%; height:200px; overflow:auto">
            {% include 'counsel/ajaxtable.html' %}
        </div></td>
    </tr>
    <tr>
        <td id="title"><h4 style="display:inline" >결재 정보</h4>
       		<button class="btn btn-warning pull-right" id="reset-btn">
                초기화하기
            </button>
        </td>
    </tr>
    <tr>
        <td><div style="width:100%; height:200px; overflow:auto">
        <table class="table" id="select-table">
            <thead>
              <tr>
                <th>결재순서</th>
                <th>이름</th>
                <th>소속</th>
                <th>직책</th>
                <th>선택</th>
              </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div></td>
    </tr>
    <tr>
    <td class="pull-right" id="header">
        <p class="inline">반드시 <strong>저장</strong>을 하십시오!</p>
        <button type="button" class="btn btn-info" onclick="doTheSubmit()">저장</button><span> </span>
        <button type="button" class="btn btn-default" onclick="window.open('', '_self', ''); window.close();">취소</button>
    </td>
    </tr>
 </table>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'popup/jst.js' %}?ver=2"></script>

<script>
    $("#searchfield").change(function () {
        var name = $(this).val();
        $.get("{% url 'find-userlist' pk %}", {name: name}, function(data){
            $('#result').html(data);
      });
    });
</script>

</body>
</html>
