{% extends 'base.html' %}

{% block content %}
<style>
    textarea.form-control {
      height: 500%;
    }
    img {
        width: 125px;
        height: 125px;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="container">
    <h2>병사 등록하기</h2>
    <hr>
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div style="position:absolute;left:440px;">
                    <div class="hidden-xs">
                    	<p>사진</p>
                        <img id="image" class="img-responsive img-thumbnail" src="http://placehold.it/125x125" />
                        <input name="image" id="files" type="file" style="margin-top:5px">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" style=>이름</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="name" value="{{ soldierForm.name.value }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">기수</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="nth" value="{{ soldierForm.nth.value }}" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">군번</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="service_num" value="{{ detailForm.service_num.value }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">특기</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="major" value="{{ detailForm.major.value }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">소속</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="department" value="{{ soldierForm.department.value }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">생년월일</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="birth" value="{{ detailForm.birth.value|date:"Y-m-d"  }}" type="date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">☎사무실</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="phone_num" value="{{ soldierForm.phone_num.value }}" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">가족관계</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="family_info" rows="8">{{ detailForm.family_info.value }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">학력</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="education" rows="8">{{ detailForm.education.value }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">과거병력</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="last_desease" rows="8">{{ detailForm.last_desease.value }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">초도면담</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="first_counsel" rows="8">{{ detailForm.first_counsel.value }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">향후계획</label>
                    <div class="col-lg-8">
                        <textarea class="form-control" name="plan" rows="8">{{ detailForm.plan.value }}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">비상연락망</label>
                    <div class="col-lg-3">
                        <input class="form-control" name="emergency_contact" value="{{ detailForm.emergency_contact.value }}" type="text">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button class="btn btn-primary" type="submit">&nbsp;&nbsp;등록&nbsp;&nbsp;</button>
                        <span></span>
                        <a class="btn btn-default" href="{% url 'soldier-list' %}">&nbsp;&nbsp;취소&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
	document.getElementById("files").onchange = function () {
    var reader = new FileReader();
    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>
{% endblock %}
